<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="row">

          <div class="col-xs-1">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
          </div>
          <div class="col-xs-11">
            827 North 6th Street, Lafayette, IN 47904
          </div>
        </div>
        <div class="row">

          <div class="col-xs-1">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
          </div>
          <div class="col-xs-11">
            (765) 771-7105
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6">
          <img class="map" src="../../assets/mapLocation.jpg" alt="Google Maps Location">
      </div>

    </div>
  </div>
</footer>
