<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>There has been a neighborhood bar on the corner of Sixth and Salem since prohibition, with evidence of a
        basement
        speakeasy. So when the opportunity to revitalize the bar at 827 N. Sixth St. presented itself we jumped at the
        idea. With a lineage that includes: Klippel's Tavern, Warwick's Tavern, The Squirrel Cage, The Clubhouse, and
        the
        Varsity Clubhouse, we are proud to give you the "Sixth Street Dive."</p>
      <p>With strong roots in Texas, we offer Lafayette a taste of home with authentic Tex-Mex food available everyday
        from 11am - 3am and an atmosphere that would fit perfectly on the famed 6th Street in Austin TX.</p>
      <p>Out of respect to the bar and neighborhood's history we also offer many "Hoosier Favorites." Quirky and weird,
        we
        are doing things a little different by showcasing things we've experienced at our favorite spots all over the
        country!</p>
      <p>"Dive On In!"</p>
    </div>
  </div>
</div>
