<div class="row">
  <div class="col-xs-12">
    <h1>Menu 1</h1>
    <p>This layout is the most basic way to arrange the menu based on the paper menus. No fancy features with this one. Stopped after A La Carte because you get the idea.</p>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Aperitivos</h2>
        <hr>
        <p><strong>House Chips & Salsa - $3.50</strong></p>
        <p><strong>House Chips & Guac - $5</strong></p>
        <p><strong>House Chips & Queso - $5</strong></p>
        <p><strong>Dive Queso Fontanero - $9</strong><br><i>Layered Dip with your choice of Chorizo or Chili Con Carne,
            and Queso, Fresh Pico, Sour Cream, and Guac.</i></p>
        <p><strong>Breadsticks and Queso - $7</strong></p>
        <p><strong>Fried Pickle Chips - $5</strong></p>
        <p><strong>Chicharrones - $4</strong></p>
        <p><strong>Nachos</strong><br><i>Topped with queso, refried beans, lettuce, fresh pico jalapenos, sour cream,
            and guac.</i><br>Vegetarian - $8<br>Ground Beef - $10<br>Chicken or Pork - $10<br>Steak - $11</p>
        <p><strong>Totchos - $10</strong><br><i>Tater Tot Nachos! Where have these been all your life? Tater Tot's
            topped
            with Chili con carne, queso, lettuce, fresh pico, jalapenos, sour cream, and guac.</i></p>
        <p><strong>Quesadilla</strong><br><i>Large flour tortilla with fresh pico and your choice of filling with a side
            of sour cream.</i><br>Cheese - $8.50<br>Chicken - $9<br>Steak - $9.50</p>
        <p><strong>Dozen Dive Wings - $12</strong><br><i>Buffalo - BBQ - Dive sauce with ranch or blue cheese.</i></p>
        <p><strong>Chicken Strips - $8</strong><br><i>Southern fried, grilled, or blackened with your choice of sauce
            and ranch or blue cheese.</i></p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h2>Soups & Salads</h2>
        <hr>
        <p><strong>Soup</strong><i><br>Soup of the day or homemade Texas chili. Ask your server for details. Add cheese,
            onion, sour cream, or jalapenos for 0.25 each.</i><br>Cup - $4<br>Bowl - $6</p>
        <p><strong>Taco Salad</strong><br><i>Iceberg lettuce, tomatoes, onion, jalapenos, cheese blend, sour cream, and
            guac served in a tortilla bowl.</i><br>Beef of Chicken - $9<br>Steak or Pork - $10</p>
            <p><strong>Garden Salad - $4.50</strong><br><i>Iceberg lettuce, tomato, onion, cucumber, carrots, cheese blend, and croutons.</i></p>

            <h2>A La Carte</h2>
            <hr>
            <p><strong>Basket of Fries - $3.50</strong></p>
            <p><strong>Basket of Tots - $4.50</strong><br><i>Loaded with cheese, bacon, and sour cream. Add $2.</i></p>
            <p><strong>Basket of O-Rings - $5</strong></p>
            <p><strong>Texican Taco - $3</strong></p>
            <p><strong>Gringo Taco - $3</strong></p>
            <p><strong>Vegetarian Taco - $3.50</strong></p>
            <p><strong>Spanish Rice - $2</strong></p>
            <p><strong>Refried Beans - $2</strong></p>
            <p><strong>Guacamole - $3</strong></p>
            <p><strong>Queso - $3</strong></p>
            <p><strong>Chips - $2.50</strong></p>
            <p><strong>Mimi's Mild Salsa - $2</strong></p>
            <p><strong>Willie's Hot Salsa - $2</strong></p>
            <p><strong>Salsa Verde - $2</strong></p>
            <p><strong>Sour Cream - $1</strong></p>

      </div>
    </div>
  </div>
</div>
