<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 banner-text-area">
                        <h1>6th Street Dive Bar and Grill</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container white">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <p>827 North 6th Street<br>Lafayette, IN 47904</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="black-block">All food and beer available<br>11am - 1am<br>Also available for carry-out!<br>(765)
        771-7105</p>
    </div>
  </div>
</div>
